@page "/Estudiantes"
@model CIAC_TAS_Web_UI.Pages.Estudiante.EstudiantesModel
@{
    ViewData["Title"] = "Estudiantes";
}

<!-- From here, we should put this code as template in each page -->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
   <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Estudiantes Page</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a asp-page="/Index">Home</a></li>
              <li class="breadcrumb-item active">Estudiantes Page</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Lista Estudiantes</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">

            <a asp-page="/Estudiante/Estudiante" asp-page-handler="NewEstudiante" class="fa fa-plus" style="font-size:20px;"></a>
            
            <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>CI</th>
                    <th>Email</th>
                    <th>Codigo TAS</th>
                    <th>Acciones</th>
                  </tr>
                  </thead>
                  <tbody>
                      @{
                          foreach (var item in Model.EstudiantesModelView)
                            {
                                    <tr>
                                        <td>@item.Nombre</td>
                                        <td>@item.CarnetIdentidad</td>
                                        <td>@item.Email</td>
                                        <td>@item.CodigoTas</td>
                                        <td><a asp-page-handler="EditEstudiante" asp-page="/Estudiante/Estudiante" asp-route-id="@item.Id" class="fa fa-edit" style="font-size:15px;"></a></td>
                                    </tr>
                            }
                      }
                  </tbody>
             </table>

        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            @{
                    if (Model.Message != null && Model.Message != string.Empty)
                    {
                            <div id="mensajeDiv" class="callout callout-danger">
                                @Model.Message
                            </div>
                    }
              }
        </div>
        <!-- /.card-footer-->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- To here -->